.principal__carrossel{

    background: var(--branco2);
}
.swiper-wrapper {

    text-align: center;
 
     
}

.swiper-wrapper img {

    width: 100%;
    height: calc(100vh - 170px)
}

