.titulo__1 {

    font-size: 36px;
    text-align: center;
    padding: 4em 0 0.1em 0;    
    color: var(--roxo-escuro);
    font-weight: 700;
    
}

.principal__conheca__mais-linha {

    border: solid;
    color: var(--cinza);
    width: 40%;
}


.principa__conheca__mais-imagens {

    padding: 4em 0 0.1em 18em;    
    width: 70%;
}

.botao {

    text-align: center;
    padding: 10em;
    
    
      


}

.botao__saiba_mais {

    text-align: center;
    text-decoration: none;
    background: var(--roxo-escuro);
    color: var(--branco);
    border-radius: 50px;
    font-size: 36px ;
    padding: 0.5em 2em;
    
    
   
    
  

}